body {
  padding: 20px 50px;
  font-family: verdana;
}


.extramenu button {
  border: 1px solid #eee;
  border-radius: 5px;
}

.extramenu .title {
  min-width: 400px;
  vertical-align: middle;
  line-height: 32px;
  font-weight: bolder;
  font-size: 24px;
}


.row {
  display: flex;
}

.col {
  flex: 1 1 0%;
  min-width: 0;
  max-width: 100%;
}

body.ec-dark {
  background-color: black;
  color: white;
}
